{% extends 'base.html' %} {% block content %}

<div id="main-content" class="px-2">
  <!-- ÚLTIMOS PERSONAJES -->
  <div class="row my-2">
    <div class="col-12">
      <h3>Últimos personajes añadidos</h3>
    </div>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-2">
      <div class="card-item">
        <div class="content">
          <h2 class="title">Fernando II de Aragón</h2>
          <a href="{% url 'persona' %}" class="btn-card">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card-item">
        <div class="content">
          <h2 class="title">Persona</h2>
          <a href="{% url 'persona' %}" class="btn-card">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card-item">
        <div class="content">
          <h2 class="title">Persona</h2>
          <a href="#" class="btn-card">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card-item">
        <div class="content">
          <h2 class="title">Persona</h2>
          <a href="#" class="btn-card">Ver</a>
        </div>
      </div>
    </div>
  </div>
</div>

<nav id="sidebar" class="collapsed">
  <h3>Filtro de búsqueda</h3>

  <form id="form_filter" action="#">

  <button class="btn" type="submit">Aplicar</button>
  <button class="btn" type="reset">Limpiar</button>

  <input
    type="text"
    name="persona"
    id="persona_filter"
    placeholder="persona"
    data-id=""
  />
  <button
    type="button"
    class="ayuda_busq"
    data-toggle="modal"
    data-target="#personaModal"
  >
    X
  </button>
  <input
    type="text"
    name="evento"
    id="evento_filter"
    placeholder="Evento"
  /><button class="ayuda_busq">X</button>
  <input
    type="text"
    name="dinastia"
    id="dinastia_filter"
    placeholder="Dinastia"
  /><button class="ayuda_busq">X</button>

  <h4>Cargos</h4>
  <div class="lista-checkbox">
    <input type="checkbox" name="" id="rey" class="check" />
    <label for="rey">Rey</label>
    <label for="rey">Rey</label>
    <label for="rey">Rey</label>
    <label for="rey">Rey</label>
    <label for="rey">Rey</label>
    <label for="rey">Rey</label>
    <label for="rey">Rey</label>
    <label for="rey">Rey</label>
    <label for="rey">Rey</label>
    <label for="rey">Rey</label>
  </div>

  <h4>Tipo de Evento</h4>
  <div class="lista-checkbox">
    <input type="checkbox" name="" id="guerra" class="check" />
    <label for="guerra">Guerra</label>
    <label for="rey">Batalla</label>
    <label for="rey">Boda</label>
    <label for="rey">Rey</label>
  </div>
</nav>
</form>

<button id="btn">
  <i class="fas fa-chevron-right fa-lg"></i>
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="personaModal"
  tabindex="-1"
  aria-labelledby="personaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buscar persona</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button id="buscar">Buscar</button>
        <div class="form-group">
          <label for="modal_persona_nombre" class="col-form-label"
            >Nombre</label
          >
          <input type="text" class="form-control" id="modal_persona_nombre" />
        </div>
        <div class="form-group">
          <label for="modal_persona_dinastia" class="col-form-label"
            >Dinastía</label
          >
          <input type="text" class="form-control" id="modal_persona_dinastia" />
        </div>
        <div class="form-group">
          <label for="modal_persona_cargo" class="col-form-label">Cargo</label>
          <input type="text" class="form-control" id="modal_persona_cargo" />
        </div>

        <select name="" id="lista_personas" size="5"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="submit_ayuda_persona"
          data-dismiss="modal"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  // Abrir y cerrar el sidebar
  $("#btn").click(function () {
    if ($("#sidebar").hasClass("collapsed")) {
      // Abrir menú

      $("#sidebar").removeClass("collapsed");
      document.getElementById("sidebar").style.width = "400px";
      document.getElementById("main-content").style.marginRight = "400px";
      //   document.getElementById("main-content").style.width = "auto";
      //   document.getElementById("main-content").style.removeProperty('width');
      document.getElementById("btn").style.marginRight = "400px";

      //Cambia icono del botón
      $(this)
        .children()
        .removeClass("fa-chevron-right")
        .addClass("fa-chevron-left");

      // Cambia el tamaño de las tarjetas
      $(".card-item").parent().removeClass("col-2").addClass("col-3");
    } else {
      //Cerrar menú

      $("#sidebar").addClass("collapsed");
      document.getElementById("sidebar").style.width = "0";
      document.getElementById("main-content").style.marginRight = "auto";
      document.getElementById("btn").style.marginRight = "0";

      //Cambia icono del botón
      $(this)
        .children()
        .removeClass("fa-chevron-left")
        .addClass("fa-chevron-right");

      // Cambia el tamaño de las tarjetas
      $(".card-item").parent().removeClass("col-3").addClass("col-2");
    }
  });

  $('#form_filter').on('submit', function(event) {
   event.preventDefault();
   // Búsqueda
  });

  // -----------------------------------------------------------------------------

  // Ayuda de búsqueda

  // Modal
  let personas = [];
  let dinastias = [];
  let cargos = [];

  $("#buscar").click(function () {
    let lista_dinastias = [];
    let lista_id_personas = [];
    
    let dic_personas = getPersonas();

    // Crea la lista de objetos personas, dinastías
    dic_personas["personas"].forEach((p) => {
      personas.push(p); // Lista de objetos persona

      // Añade los IDs de las dinastía a una lista
      if (
        lista_dinastias.indexOf(p["fields"]["dinastia"]) === -1 &&
        p["fields"]["dinastia"]
      ) {
        lista_dinastias.push(p["fields"]["dinastia"]);
      }

      // Añade los IDs de las personas a una lista
      if (lista_id_personas.indexOf(p.pk) === -1 && p.pk) {
        lista_id_personas.push(p.pk);
      }
    });

    // Obtiene las dinastias ({pk: nombre})
    dinastias = getDinastia(lista_dinastias);
    // Obtiene los cargos ({pk_persona: nombre_cargo})
    cargos = getCargos(lista_id_personas);

    // Añade los resultados a la lista
    $("#lista_personas option").remove();

    personas.forEach((p) => {
      $("#lista_personas").append(
        '<option value="' + p["pk"] + '">' + p["fields"]["nombre"] + "</option>"
      );
    });
  });

  // Cuando se clica un resultado se traspasa al campo persona
  // NO FUNCIONA
  // $("#lista_personas option").click(function () {
  //   alert("Ljgulyhgkj")
  //   persona = personas.find((p) => p.pk == this.value);
  //   $("#modal_persona_nombre").val($(this).text());
  //   $("#modal_persona_dinastia").val(dinastias[persona["fields"]["dinastia"]]);
  //   $("#modal_persona_cargo").val(cargos[persona.pk]);
  // });

  $("#lista_personas").click(function () {
    var opt = $(this).children().filter(function(){
      return $(this)[0].selected;
    });

    persona = personas.find((p) => p.pk == opt[0].value);
    $("#modal_persona_nombre").val(persona["fields"]["nombre"]);
    $("#modal_persona_dinastia").val(dinastias[persona["fields"]["dinastia"]]);
    $("#modal_persona_cargo").val(cargos[persona.pk]);
    
  });

  $("#submit_ayuda_persona").click(function () {
    $("#persona_filter").val($("#modal_persona_nombre").val());
    $("#dinastia_filter").val($("#modal_persona_dinastia").val());
  });


  // Funciones

  /**
   * Obtiene los personajes a partir del formulario
   */
  function getPersonas() {
    let personas = "";
    let nombre = $("#modal_persona_nombre").val();
    let dinastia = $("#modal_persona_dinastia").val();
    let cargo = $("#modal_persona_cargo").val();
    $.ajax({
      url: '{% url "get_personas" %}',
      cache: false,
      async: false,
      data: {
        nombre: nombre,
        dinastia: dinastia,
        cargo: cargo,
      },
      success: function (data) {
        personas = data;
      },
    });
    return personas;
  }

  /**
   * Obtiene las dinastías a partir de una lista de IDs
   * Devuelve un diccionario de datos con formato: {pk: nombre}
   * @param {Array} id - Lista de IDs
   * @return {Json} dinastia - Diccionario de datos con las dinastías encontradas
   */
  function getDinastia(id) {
    let dinastia = "";

    $.ajax({
      url: '{% url "get_dinastia" %}',
      data: {
        id: id,
      },
      cache: false,
      async: false,
      success: function (data) {
        if (data) {
          dinastia = data;
        }
      },
    });

    return dinastia;
  }

  /**
   * Obtiene los cargos a partir de una lista de IDs de personas
   * Devuelve un diccionario de dato con formato: {personaID: nombreCargo}
   * @param {Array} id - Lista de IDs
   * @return {Json} cargos - Diccionario de datos con la relación cargo - persona
   */
  function getCargos(id) {
    let cargos = "";

    $.ajax({
      url: '{% url "get_cargos" %}',
      data: {
        id: id,
      },
      cache: false,
      async: false,
      success: function (data) {
        if (data) {
          cargos = data;
        }
      },
    });

    return cargos;
  }
</script>

{% endblock %}
