{% extends 'base.html' %}
{% load static %}
{% block content %}

<head>
  <meta name="url_get_personas" content="{% url 'get_personas' %}">
  <meta name="url_get_dinastias_by_id" content="{% url 'get_dinastia_by_id' %}">
  <meta name="url_get_dinastias" content="{% url 'get_dinastias' %}">
  <meta name="url_get_cargos" content="{% url 'get_cargos' %}">
  <meta name="url_get_eventos" content="{% url 'get_eventos' %}">
</head>

<!-- Modal ayuda búsqueda persona -->
<div class="modal fade" id="personaModal" tabindex="-1" aria-labelledby="personaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buscar persona</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button id="buscar_persona">Buscar</button>
        <div class="form-group">
          <label for="modal_persona_nombre" class="col-form-label">Nombre</label>
          <input type="text" class="form-control" id="modal_persona_nombre" />
        </div>
        <div class="form-group">
          <label for="modal_persona_dinastia" class="col-form-label">Dinastía</label>
          <input type="text" class="form-control" id="modal_persona_dinastia" />
        </div>
        <div class="form-group">
          <label for="modal_persona_cargo" class="col-form-label">Cargo</label>
          <input type="text" class="form-control" id="modal_persona_cargo" />
        </div>

        <select name="" id="lista_personas" class="modal_select" size="5"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="submit_ayuda_persona" data-dismiss="modal">
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>



<!-- Modal ayuda búsqueda EVENTO -->

<div class="modal fade" id="eventoModal" tabindex="-1" aria-labelledby="eventoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buscar evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button id="buscar_evento">Buscar</button>
        <div class="form-group">
          <label for="modal_persona_nombre" class="col-form-label">Nombre</label>
          <input type="text" class="form-control" id="modal_persona_nombre" />
        </div>
        <div class="form-group">
          <label for="modal_persona_dinastia" class="col-form-label">Dinastía</label>
          <input type="text" class="form-control" id="modal_persona_dinastia" />
        </div>
        <div class="form-group">
          <label for="modal_persona_cargo" class="col-form-label">Cargo</label>
          <input type="text" class="form-control" id="modal_persona_cargo" />
        </div>

        <select name="" id="lista_personas" size="5"></select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="submit_ayuda_persona" data-dismiss="modal">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal ayuda búsqueda DINASTIA -->
<div class="modal fade" id="dinastiaModal" tabindex="-1" aria-labelledby="dinastiaModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buscar dinastía</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <button id="buscar_dinastia">Buscar</button>
        <div class="form-group">
          <label for="modal_dinastia_nombre" class="col-form-label">Nombre</label>
          <input type="text" class="form-control" id="modal_dinastia_nombre" />
        </div>


        <div class="row">
          <div class="col-5">
            <select name="" id="lista_dinastias" class="modal_select" size="5" multiple></select>
          </div>
          <div class="col-2">
            <button id="modal_add_dinastia">
              <i class="fas fa-plus"></i>
            </button>
            <button id="modal_remove_dinastia">
              <i class="fas fa-trash"></i>
            </button>
            <button id="modal_add_all_dinastia">Add all</button>
            <button id="modal_remove_all_dinastia">Remove all</button>
          </div>
          <div class="col-5">
            <select name="" id="added_dinastias" class="modal_select" size="5" multiple></select>
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="submit_ayuda_dinastia" data-dismiss="modal">
          Guardar cambios
        </button>
      </div>
    </div>
  </div>
</div>

<div id="main-content" class="px-2">


  <!-- ÚLTIMOS PERSONAJES -->
  <div class="row my-2">
    <div class="col-12">
      <h3>Últimos personajes añadidos</h3>
    </div>
  </div>

  <div class="row d-flex justify-content-around">

    {% for persona in personas %}
    <div class="col-2">
      <div class="card-item" style="background-image: url({{persona.img}})">
        <div class="content">
          <h2 class="title">{{persona.nombre}}</h2>
          <a href="{% url 'persona' persona.pk %}" class="btn-card">Ver</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

  <!-- ÚLTIMOS EVENTOS -->
  <div class="row my-2">
    <div class="col-12">
      <h3>Últimos eventos añadidos</h3>
    </div>
  </div>

  <div class="row d-flex justify-content-around">

    {% for evento in eventos %}
    <div class="col-2">
      <div class="card-item">
        <div class="content">
          <h2 class="title">{{evento.nombre}}</h2>
          <a href="#" class="btn-card">Ver</a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

</div>

<div style="height: 5rem;"></div>

<nav id="sidebar" class="collapsed">
  <h3>Filtro de búsqueda</h3>

  <form id="form_filter" action="#">

    <button class="btn" type="submit">Aplicar</button>
    <button class="btn" type="reset">Limpiar</button>

    <input type="text" name="persona" id="persona_filter" placeholder="persona" data-id="" />
    <button type="button" class="ayuda_busq" data-toggle="modal" data-target="#personaModal">
      X
    </button>


    <input type="text" name="evento" id="evento_filter" placeholder="Evento" /><button type="button" class="ayuda_busq"
      data-toggle="modal" data-target="#eventoModal">X</button>


    <input type="text" name="dinastia" id="dinastia_filter" placeholder="Dinastia" /><button type="button"
      class="ayuda_busq" data-toggle="modal" data-target="#dinastiaModal">X</button>
    <input type="text" name="cargo" id="cargo_filter" placeholder="Cargo" /><button class="ayuda_busq">X</button>

    <h4>Tipo de Evento</h4>
    <div class="lista-checkbox">
      <input type="checkbox" name="" id="guerra" class="check" />
      <label for="guerra">Guerra</label>
      <label for="rey">Batalla</label>
      <label for="rey">Boda</label>
      <label for="rey">Rey</label>
    </div>
</nav>
</form>

<button id="btn">
  <i class="fas fa-chevron-right fa-lg"></i>
</button>



<script>
  // Abrir y cerrar el sidebar
  $("#btn").click(function () {
    if ($("#sidebar").hasClass("collapsed")) {
      // Abrir menú

      $("#sidebar").removeClass("collapsed");
      document.getElementById("sidebar").style.width = "400px";
      document.getElementById("main-content").style.marginRight = "400px";
      //   document.getElementById("main-content").style.width = "auto";
      //   document.getElementById("main-content").style.removeProperty('width');
      document.getElementById("btn").style.marginRight = "400px";

      //Cambia icono del botón
      $(this)
        .children()
        .removeClass("fa-chevron-right")
        .addClass("fa-chevron-left");

      // Cambia el tamaño de las tarjetas
      $(".card-item").parent().removeClass("col-2").addClass("col-3");
    } else {
      //Cerrar menú

      $("#sidebar").addClass("collapsed");
      document.getElementById("sidebar").style.width = "0";
      document.getElementById("main-content").style.marginRight = "auto";
      document.getElementById("btn").style.marginRight = "0";

      //Cambia icono del botón
      $(this)
        .children()
        .removeClass("fa-chevron-left")
        .addClass("fa-chevron-right");

      // Cambia el tamaño de las tarjetas
      $(".card-item").parent().removeClass("col-3").addClass("col-2");
    }
  });

  $('#form_filter').on('submit', function (event) {
    event.preventDefault();
    // Búsqueda
  });

  // -----------------------------------------------------------------------------

  // Ayuda de búsqueda

  // Modal



</script>

<script src="{% static 'js/ayuda_busqueda.js' %}">
  var url_personas = "{% url 'get_personas' %}";
  console.log(url_personas);
</script>

{% endblock %}