{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row justify-content-center">
    <!-- IMG -->
    <div class="col-3">
      <img class="img-fluid" src="{{persona.img}}" alt="" />
    </div>

    <!-- INFO -->
    <div class="col-7">
      <!-- NOMBRE -->
      <div class="row">
        <div class="col-12">
          <h2>{{persona.nombre}}</h2>
        </div>
      </div>

      <!-- FECHAS -->
      <div class="row">
        <div class="col-12">
          <p>{{persona.fecha_ini}} - {{persona.fecha_fin}}</p>
        </div>
      </div>

      <!-- CARGO -->
      <div class="row">
        <div class="col-12">
          <p>{{persona.cargos}}</p>
        </div>
      </div>

      <!-- DINASTÍA -->
      <div class="row">
        <div class="col-12">
          <p>{{persona.dinastia}}</p>
        </div>
      </div>

      <!-- PADRE -->
      
      {% if persona.padre %}
      <div class="row">
        <div class="col-12">
          <p><b>Padre: </b>Juan II de Aragón</p>
        </div>
      </div>
      {% endif %}
        
      

      <!-- MADRE -->
      
      {% if persona.madre %}
      <div class="row">
        <div class="col-12">
          <p><b>Madre: </b>Juana Enriquez</p>
        </div>
      </div>
      {% endif %}
        
      

      <!-- Mas información -->

      {% if persona.info %}
      <div class="row">
        <div class="col-12">
          <a href="{{persona.info}}" target="_blank">Más información</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>

  <br />


  <!-- PERSONAJES RELACIONADOS -->

  <div class="row my-2">
    <div class="col-12">
      <h3>Personajes relacionados</h3>
    </div>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-2">
      <div class="card-item">
        <div class="content">
          <h2 class="title">Fernando II de Aragón</h2>
          <a href="#" class="btn-card">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card-item">
        <div class="content">
          <h2 class="title">Persona</h2>
          <a href="#" class="btn-card">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card-item">
        <div class="content">
          <h2 class="title">Persona</h2>
          <a href="#" class="btn-card">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="card-item">
        <div class="content">
          <h2 class="title">Persona</h2>
          <a href="#" class="btn-card">Ver</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
